/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
access.log
/public/f
public/f/*
/public/kvs
/public/t
/public/t.bak
/public/access.log
*.log
package-lock.json
phpunit.xml
composer.lock
