.box{
	border: solid black 1px;
	padding: 4rem;
	margin: 1rem;
	background-color: #efefef;
}

.writing-listitem{
	padding: 2rem 10rem 2rem 10rem;
}

.writing-content{
	padding: 4rem 8rem 4rem 8rem; 
}

body{
	background-color: #ececec;
}

#map{
	border: 1px solid black;
}

tr{
	font-size: 10px;
}

.comment{
	margin-left: 1em;
}

#map-infowindow{
	border: 2px solid black;
	background-color: white;
}

.infowindow{
	width: 100%;
}

.content .layout{
	font-size: 16px;

}

.content p{

}

.img-li{
    width: 40%;
    padding: 12px;
    display: inline-block;
}

.img-li img{
    width: 50%;
    height: auto;
	display: inline-block;
}

#samplep {
	background-color: #e0a30b;
	color: #ebcde8;
}