<!doctype html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>vue test</title>
        <script src = "https://unpkg.com/vue@3"></script>
        
    </head>

    <body>

        <div id = "app">
          
            <input type = "text" v-model="greeting" />
            <p>{{ greeting }}</p>
            <app-button>badaboop</app-button>
        
        </div>
        <script type = "module">
            import AppButton from "./components/AppButton.js";
            let app = {
                components: {
                    'app-button': AppButton
                }
            };
            Vue.createApp(app).mount('#app');
        </script>
    </body>

</html>