<!doctype html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>vue test</title>
        <script src = "https://unpkg.com/vue@3"></script>
        
    </head>

    <body>

        <div id = "app">
          
            <input type = "text" v-model="greeting" />
            <p>{{ greeting }}</p>
        
        
        </div>
        <script>
            Vue.createApp({
                data(){
                    return {
                        greeting: 'yo yo yo'
                    };
                }
            }).mount('#app');
        </script>
    </body>

</html>